namespace RssSharedLibrary.Cfg {
    class Beget {
        public class Databases {
            public class Vestnik {
                public static string Host = "";
                public static string Port = "";
                public static string Login = "";
                public static string Password = "";
                public static string DbName = "";
            }

            public class Vestnik0 {
                public static string Host = "";
                public static string Port = "";
                public static string Login = "";
                public static string Password = "";
                public static string DbName = "";
            }
        }
    }
    class Google {
        public static string YoutubeApiKey = "";
    }

    class Reddit {
        public static string Login = "";
        public static string Password = "!";
        public static string Id = "";
        public static string Secret = "";
        public static string RedirectUri = "";
    }

    class Vk {
        public static string Login = "";
        public static string Password = "";
    }
}
